<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Plan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Gym Database</h1>
        <nav class="navigation">
            <a href="/members">Manage Members</a>
            <a href="/coaches">Manage Coaches</a>
            <a href="/branches">Manage Branches</a>
            <a href="/nutritionists">Manage Nutritionists</a>
            <a href="/guests">Manage Guests</a>
            <a href="/plans">Manage Plans</a>
        </nav>
    </header>
    <h1>Add Plan</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
    <form action="/add-plans" method="POST">
        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id"><br>
        <label for="Description">Description:</label><br>
        <input type="text" id="Description" name="Description"><br>
        <label for="Calories">Calories:</label><br>
        <input type="text" id="Calories" name="Calories"><br>
        <label for="Coach_ID">Coach ID:</label><br>
        <input type="text" id="Coach_ID" name="Coach_ID"><br>
        <label for="Nutritionist_ID">Nutritionist ID:</label><br>
        <input type="text" id="Nutritionist_ID" name="Nutritionist_ID"><br><br>
        <input type="submit" value="Submit">
    </form>

    {% if success %}
    <p style="color: green;">{{ success }}</p>
    {% endif %}
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>
