<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Member</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Gym Database</h1>
        <nav class="navigation">
            <a href="/members">Manage Members</a>
            <a href="/coaches">Manage Coaches</a>
            <a href="/branches">Manage Branches</a>
            <a href="/nutritionists">Manage Nutritionists</a>
            <a href="/guests">Manage Guests</a>
            <a href="/plans">Manage Plans</a>
        </nav>
    </header>

    <h1>Add Member</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
    <form action="/add-member" method="POST">
        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id"><br>
        <label for="Email">Email:</label><br>
        <input type="email" id="Email" name="Email"><br>
        <label for="Age">Age:</label><br>
        <input type="text" id="Age" name="Age"><br>
        <label for="Name">Name:</label><br>
        <input type="text" id="Name" name="Name"><br>
        <label for="PhoneNumber">Phone Number:</label><br>
        <input type="text" id="PhoneNumber" name="PhoneNumber"><br>
        <label for="Plan_ID">Plan ID:</label><br>
        <input type="text" id="Plan_ID" name="Plan_ID"><br><br>
        <input type="submit" value="Submit">
    </form>

    {% if success %}
    <p>{{ success }}</p>
    {% endif %}
</body>
</html>
