<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coaches Sorted by Experience - Gym Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Gym Database</h1>
        <nav class="navigation">
            <a href="/members">Manage Members</a>
            <a href="/coaches">Manage Coaches</a>
            <a href="/branches">Manage Branches</a>
            <a href="/nutritionists">Manage Nutritionists</a>
            <a href="/guests">Manage Guests</a>
            <a href="/plans">Manage Plans</a>
        </nav>
    </header>
    <div class="content">
        <h1>Get Coaches Sorted by Experience</h1>
        <form action="/coaches/sorted" method="POST">
            <label for="years">Input Minimum Years of Experience:</label>
            <input type="number" id="years" name="years" required><br><br>
            <input type="submit" value="Get Sorted Coaches">
        </form>

        <h2>Coaches Sorted by Experience</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Years of Experience</th>
                </tr>
            </thead>
            <tbody>
                {% for coach in data1 %}
                <tr>
                    <td>{{ coach[0] }}</td>
                    <td>{{ coach[1] }}</td>
                    <td>{{ coach[2] }}</td>
                    <td>{{ coach[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="button-container">
            <a href="/coaches/add" class="add-button">Add a Coach</a>
            <a href="/coaches/sorted" class="add-button">Sort By Experience</a>
            <a href="/coaches/plans" class="add-button"> Popular Coach Plans</a>
            <a href="/coaches/info" class="add-button">Get Coach Info</a>
            <a href="/coaches/dep" class="add-button">Add Dependent</a>
        </div>
    </div>
</body>
</html>
