<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coach Plans - Gym Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Gym Database</h1>
        <nav class="navigation">
            <a href="/members">Manage Members</a>
            <a href="/coaches">Manage Coaches</a>
            <a href="/branches">Manage Branches</a>
            <a href="/nutritionists">Manage Nutritionists</a>
            <a href="/guests">Manage Guests</a>
            <a href="/plans">Manage Plans</a>
        </nav>
    </header>
    <div class="content">
        <h1>Coach Plans Overview</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
        <table>
            <thead>
                <tr>
                    <th>Coach ID</th>
                    <th>Coach Name</th>
                    <th>Plan ID</th>
                    <th>Plan Description</th>
                    <th>Members Enrolled</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in data %}
                <tr>
                    <td>{{ entry[0] }}</td>
                    <td>{{ entry[1] }}</td>
                    <td>{{ entry[2] }}</td>
                    <td>{{ entry[3] }}</td>
                    <td>{{ entry[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="button-container">
        <a href="/coaches/add" class="add-button">Add a Coach</a>
        <a href="/coaches/sorted" class="add-button">Sort By Experience</a>
        <a href="/coaches/plans" class="add-button"> Popular Coach Plans</a>
        <a href="/coaches/info" class="add-button">Get Coach Info</a>
        <a href="/coaches/dep" class="add-button">Add Dependent</a>
    </div>
</body>
</html>
