<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Gym Database</h1>
        <nav class="navigation">
            <a href="/members">Manage Members</a>
            <a href="/coaches">Manage Coaches</a>
            <a href="/branches">Manage Branches</a>
            <a href="/nutritionists">Manage Nutritionists</a>
            <a href="/guests">Manage Guests</a>
            <a href="/plans">Manage Plans</a>
        </nav>
    </header>
    <div class="content">
        <h2>An error occurred:</h2>
        <p>{{ error_message }}</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
        <p>Please try again later or contact support.</p>
        <a href="/">Back to Home</a>
    </div>
</body>
</html>
